<div class="post clearfix">
  <div class="clearfix">
    <span class="datetime">
      <%- if params[:source] -%>
        <span class="result"><%= friendly_datetime post.published_at %></span>
      <%- elsif post_counter % 10 == 0 -%>
        <%= time_ago_in_words(post.published_at) %> ago
      <%- else -%>
        &nbsp;
      <%- end -%>
    </span>

    <span class="main">
      <span id="loading-<%= post.id %>" class="loading" style="display:none">
	<%= image_tag "loading.gif" %>
      </span>
      <span id="title-<%= post.id %>" class="title">
	<%= link_to_remote h(post.title),
	                   {
	                     :url => { :controller => :posts, :action => :show, :id => post },
	                     :loading => "Element.show('loading-#{post.id}')",
	                     :method => :get
	                   },
	                   :href => url_for(:controller => :posts, :action => :show, :id => post.id),
	                   :target => "_blank"
	%>
      </span>
      <span id="arrow-<%= post.id %>" class="arrow" style="display:none">
	<%= link_to image_tag("arrow.png"), post.url, :target => "_blank" %>
      </span>
    </span>

    <span id="source-<%= post.id %>" class="source">
      <%= link_to post.source || "unknown", :source => post.source %>
    </span>

  </div>

  <div id="summary-<%= post.id %>" class="summary clearfix" style="display:none">
  </div>

</div>
<%- if post_counter % 10 == 9 -%>
  <hr class="space" />
<%- end -%>
