<% title "feed listing (in alphabetical order by name)" %>


<table>
  <% for news_feed in @news_feeds %>
    <tr>
      <td class="number"><%= news_feed.posts.count %></td>
      <td class="feed"><%= link_to image_tag("feed.png"), news_feed.url, :target => "_blank" %></td>
      <td><%= link_to news_feed.source, :controller => :posts, :action => :index, :source => news_feed.source %></td>
      <td>
	<%= link_to news_feed.homepage, news_feed.homepage, :target => "_blank" %>
      </td>
      <% if admin? %>
        <td>
	  <%= link_to "Show", news_feed %><br />
          <%= link_to "Edit", edit_news_feed_path(news_feed) %><br />
          <%= link_to "Destroy", news_feed, :confirm => 'Are you sure?', :method => :delete %>
	</td>
      <% end %>
    </tr>
  <% end %>
</table>

<% if admin? %>
 <p><%= link_to "New News Feed", new_news_feed_path %></p>
<% end %>
