<% title "News Feed" %>

<p>
  <strong>Source:</strong>
  <%=h @news_feed.source %>
</p>
<p>
  <strong>Homepage:</strong>
  <%=h @news_feed.homepage %>
</p>
<p>
  <strong>Url:</strong>
  <%=h @news_feed.url %>
</p>

<p>
  <%= link_to "Edit", edit_news_feed_path(@news_feed) %> |
  <%= link_to "Destroy", @news_feed, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", news_feeds_path %>
</p>
