<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title>Railsposts.com - <%=h strip_tags(yield(:title)) || tag_line %></title>
    <link rel="stylesheet" href="/stylesheets/blueprint/screen.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="/stylesheets/blueprint/print.css" type="text/css" media="print" />
    <!--[if lt IE 8]>
      <link rel="stylesheet" href="/stylesheets/blueprint/ie.css" type="text/css" media="screen, projection" />
    <![endif]-->
    <%= stylesheet_link_tag 'application' %>
    <%= yield(:head) %>
  </head>
  <body>
    <div id="wrapper">
      <div class="container">
	<div id="header" class="clearfix">
	  <div id="logo">
	    <h1><%= link_to "Railsposts", root_url %></h1>
	    <div id="logo"><%= link_to image_tag("railsposts.png", :alt => "railsposts"), root_url %></div>
	  </div>
	  <div id="tagline">
	    <%= yield(:title) || tag_line %>
	  </div>
	</div>

	<div id="columns" class="clearfix">
	  <div id="content" class="span-18">
	    <%- flash.each do |name, msg| -%>
              <%= content_tag :div, msg, :id => "flash_#{name}" %>
	    <%- end -%>

	    <%= yield %>
	  </div>
	  <div id="navbar" class="span-5 last">
	    <%= yield(:navbar) || render(:partial => 'shared/navbar') %>
	  </div>
	</div> <!-- columns -->

	<div id="footer">
	  <div class="tools">
    	    <%= link_to "Feeds", feeds_path %> |
	    <%= mail_to "info@railsposts.com", "Contact", :encode => "javascript" %>
	    <%- if admin? -%>
	      | <%= link_to "Logout", logout_path %>
	    <%- end -%>
	  </div>
	</div>
      </div> <!-- container -->
    </div> <!-- wrapper -->

<!-- Google Analytics -->
<%= render :partial => "shared/google_analytics" -%>
</body>
</html>
